[Unit]
Description=Venusian ConnMan Mock Service
Before=venusian.target

[Service]
Type=dbus
BusName=net.connman
ExecStart=/usr/bin/python3 /usr/lib/venusian/opt/net.connman/connman.py
Restart=always

[Install]
WantedBy=default.target